/* Citation for the Images:https://pixabay.com/images/search/ */
/* Style the whole body */
.main {
  font-family: "Raleway", sans-serif;
  font-family: "Permanent Marker", cursive;
}

/* Style the header */
#header {
  background-image: url(../img/cave.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  align-items: center;
  text-align: center;
}

#container {
  float: center;
}

h2 {
  font-size: 40px;
  padding-top: 7.5%;
}

/* Style the question section*/
#question {
  height: 80px;
  width: 100%;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  align-items: center;
  font-size: 30px;
  margin-top: -2.5%;
}

#alert {
  display: none;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: red;
  font-size: 20px;
}

.q1 {
  padding-top: 2%;
}

/* Style the answers */
.answers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  border-style: solid;
  margin-bottom: 1%;
  width: 400px;
  height: 30%;
  margin: 1%;
}

/* Citaion for box animation:http://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
/* Citation for transformations. */
/* citation:https://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/ */

.answer:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.2);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease-in-out;
  background-color: rgb(214, 213, 213);
  cursor: pointer;
}

input:checked+label {
  color: green;
  width: 100%;
}

input[type="radio"] {
  display: none;
}

span {
  display: inline;
}

img {
  height: 200px;
  width: 100%;
}

#but {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

/* Style the submit button */

#subButton {
  font-family: "Permanent Marker", cursive;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 5px;
  padding: 9px 15px;
  text-align: center;
  font-size: 16px;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#subButton:hover {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  cursor: pointer;
}

#submision {
  display: none;
  font-family: "Permanent Marker", cursive;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 5px;
  padding: 9px 15px;
  text-align: center;
  font-size: 16px;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#submision:hover {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  cursor: pointer;
}

#restart {
  display: none;
  font-family: "Permanent Marker", cursive;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 5px;
  padding: 9px 15px;
  text-align: center;
  font-size: 16px;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#restart:hover {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);

  /* Fallback color */
  background-color: rgb(14 14 14 / 86%);
  /* Black w/ opacity */
  color: white;
}

/* Modal Content */
.modal-content {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: rgb(0, 0, 0);

  /* Fallback color */
  background-color: rgb(14 14 14 / 86%);
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#modal-picture {
  height: 200px;
  width: 200px;
  margin: auto;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;

  color: white;
}

.modal-body {
  align-content: center;
  ;
}



.modal-footer {
  /* background-image: url(../img/capetown.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

#funfact {
  font-size: 15px;
  margin-left: 20px;
}

@media only screen and (max-width: 640px) {
  .answers {
    display: flex;
    flex-direction: column;
  }
}